<div class="page">
    <div class="page-content">
        <div class="line">
            <div class="fake-text fake-text-small"></div>
            <div class="ref">Exhibit 1</div>
        </div>
        <div class="line">
            <div class="fake-text"></div>
            <div class="ref">Exhibit 2</div>
            <div class="fake-text"></div>
        </div>
        <div class="line">
            <div class="fake-text"></div>
        </div>
        <div class="line">
            <div class="ref">Exhibit 3</div>
            <div class="fake-text"></div>
        </div>
        <div class="line">
            <div class="fake-text"></div>
        </div>
    </div>
</div>
