<div class="footer-wrapper">
    <section class="section-footer">
        <div class='footer-content'>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="logo-wrapper">
                            <!-- <logo-ui [type]='4'></logo-ui> -->
                        </div>
                        <p class="m-0">Support</p>
                        <p>{{email}}</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <h3> Links </h3>
                        <menu-ui fullMenu='true' class="footer"></menu-ui>
                    </div>
                    <div class="col-12">
                        <p>©{{currentYear}} Zibbit. All Rights Reserved.</p>
                    </div>
                </div>
                
            </div>
        </div>
       
    </section>
  
</div>


