
<div class="header-wrapper">
    <!-- <div class="container">
        <div class="row">
            <div class="col-12"> -->
        
                <div class='header-content' [style.justify-content]="(hideLogo ? 'flex-start' : 'space-between')">
                    <div *ngIf="!hideLogo" class="logo-wrapper">
                        <a (click)="menuClickHandler()" class='logo' [routerLink]="['/home']">
                            <logo-ui [type]='0' [hideText]=true></logo-ui>
                            <!-- <img src= {{logoUrl}}> -->
                        </a> 
                    </div>

                    <button [ngClass]="[mobileWrapperClass]" type="button" data-toggle="collapse" data-target="#collapseMobileMenu" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-bars"></i>
                        <!-- <span class="navbar-toggler-icon"></span> -->
                    </button>
                    <div [ngClass]="[desktopWrapperClass]">
                        <menu-ui></menu-ui>
                    </div>


                  
                </div>
                <div id="collapseMobileMenu" class="mobile-menu-wrapper collapse">
                        <menu-ui (navigationEvent)="menuClickHandler()" class="mobile"></menu-ui>
                </div>
            <!-- </div>
        </div>
    </div> -->
   
</div>

