<nav class='main-nav'>
    <ul class="nav-list">
        <li class='nav-item'>
            <a class="btn-light" (click)="notifyNavigationOccured($event)" [routerLink]="['/learn']"> Get Started </a>
        </li>
        <li class='nav-item'>
            <a class="btn-light" (click)="notifyNavigationOccured($event)" [routerLink]="['/downloads']"> Download </a>
        </li>
        <li *ngIf="fullMenu" class='nav-item'>
            <a class="btn-light" (click)="notifyNavigationOccured($event)" [routerLink]="['/privacy']"> Privacy Policy</a>
        </li>
    </ul>
</nav>