@import 'global';
.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    //align-items: stretch;
    main{
        display: flex;
        flex: 1 0 auto;
        //height: 0px;
    }
    header, main, footer {
        flex-shrink: 0;
    }
    header{
        z-index: 1000;
    }
    footer{
        margin-top: auto;
    }
}

