@import 'global';
@import 'page';

:host{
    // background: $zibbitThemeLight;

    &, pageWrapper-ui{
        display: flex;
        width: 100%;
    }
}
.page-downloads{
    &{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .content{
            margin-top: 50px;
        }
        .box{
            padding: 20px 0px;
        }
    
    }

    .title{
        text-align: center;
        color: $zibbitTheme;
    }
    .subtitle{
        font-size: 20px;
        color: $zibbitTheme;

        //text-decoration: underline;
    }

    p{
        max-width: 700px;
    }

    .installers{
        li{
            .item-wrapper{
                vertical-align: middle;

                & > *{
                    display: inline-block;
                    
                }
                // display: flex;
                // align-items: center;
            }
        }
        a{
            color: #007bff;
            cursor: pointer;
            margin-right: 5px;
        }
        .img-wrapper{
            height: 20px !important;
        }
    }
}
